# Explicitly require pydantic v2 to avoid conflicts with backend
pydantic>=2.10.0
pydantic-settings>=2.6.0

wheel
pylint
robotframework-assertion-engine
robotframework
robotframework-browser
robotframework-databaselibrary
robotframework-debuglibrary
robotframework-faker
robotframework-jsonlibrary
robotframework-metrics
robotframework-pabot
robotframework-tidy
# robotframework-Pdf2TextLibrary
# robotframework-excel
# robotframework-retryfailed
robotframework-cygnus==1.1.83a0
rfhub2
robotframework-appiumlibrary
